<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>854087634291-m1q1l3k8i02bl1f6dntdcatjbho74eoa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.854087634291-m1q1l3k8i02bl1f6dntdcatjbho74eoa</string>
	<key>API_KEY</key>
	<string>AIzaSyBYokOTOWJfgi6kMStuGsixIsFnwgGBRGg</string>
	<key>GCM_SENDER_ID</key>
	<string>854087634291</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hongssup.ocr</string>
	<key>PROJECT_ID</key>
	<string>ocr-test-fe621</string>
	<key>STORAGE_BUCKET</key>
	<string>ocr-test-fe621.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:854087634291:ios:312d7a00ff1038b12bc906</string>
</dict>
</plist>